 

<div class="row">
  <div class="col-sm-6 col-md-6">
    <div class="thumbnail">
      <app-bar-chart></app-bar-chart> 
    </div>
  </div>

  <div class="col-sm-6 col-md-6">
    <div class=thumbnail>
      <app-pie-chart></app-pie-chart> 
    </div>
  </div>
</div>
<div class="jumbotron text-center">
<h1>Realtime Sports Polling</h1>
<p class="lead">Welcome to Sports Polling Application by
  <strong>Chamal Pradeep</strong>
</p>
<div>
  <a routerLink="/register" class="btn btn-primary">Register</a>
  <a routerLink="/login" class="btn btn-default">Login to Poll</a>
</div>
</div>

